body, ul, li{
    margin: 0;
    padding: 0;
}
.banner img{
    max-width: 100%;
    margin: 0%;
    padding: 0%;
}
.banner .title{
    position: absolute;
    text-align: center;
    font-size: 1.4em;
    background: rgba(0, 0, 0, 0.6);
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* margin: 0%;
    padding: 100%;
    padding-bottom: 20%;
    padding-top: 20% ; */
}
.banner h1{
    margin-bottom: 6px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    color: rgb(247, 247, 247) ;
    font-family: Georgia, Times, "Times New Roman", serif;
}
.banner p{
    margin-top: 6px;
    font-family: Papyrus, fantasy ;
    color: yellow;
}
body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #dfdddd;
}
ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}
.food-items img{
    width: 100%;
    border-radius: 5px;
    
}
li{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 24px;
}
.row1 li{
    display: inline-block;
    width: 28%;

}
.row2 li{
    display: inline-block;
    width: 28%;

}
.row3 li{
    display: inline-block;
    width: 28%;
}
.row4 li{
    display: inline-block;
    width: 28%;
}
